.Profile{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border:0.1px solid transparent;
    overflow-y: scroll;
    background: url("../../assets//back/Profile/profilebackback.svg");
    border: 0.5px solid transparent;
    background-size: cover;
}

.Profile .page-title{
    margin: 80px 0 0 30px;
    display: flex;
    gap: 6px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.Profile .profile-img-ctn-outer{
    width: 170px;
    aspect-ratio: 1 / 1;
    margin: 10px auto 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.Profile .profile-img-ctn-inner{
    width: 150px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Profile .profile-img-ctn-inner img{
    width: 100%;
}

.Profile .profile-img-ctn-outer .edit-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    bottom: 5px;
    right: 18px;
}

.Profile .username{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
    margin-top: 6px;
    line-height: 180%;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.Profile .username p{
    background-color: transparent;
    width: 15ch;
    text-align: center;
    padding-block: 5px;
    border: 0;
    border-radius: 5px;
    user-select: none;
    /* background-color: #fff; */
}

.Profile .username p.active{
    outline: 1px solid rgba(255, 255, 255, 0.8);    
}

.Profile .username img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.Profile .date-joined{
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    
    margin-top: 1px;
}   

.Profile .overview{
    position: relative;
    width: 323px;
    height: 264px;
    border: 0.5px solid #fff;
    margin: 50px auto;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: end;
    padding-bottom: 38px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.244), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
}


.Profile .overview h3.page-title{
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
    position: absolute;
    top: -57px;
    left: 70px;
    flex-wrap: wrap;
}

.Profile .overview h3.page-title::after{
    content: "";
    width: 110%;
    position: absolute;
    bottom: -10px;
    height: 120%;
    box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

}

.Profile .stats-ctn{
    width: 292px;
    height: 132px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px ;
}


.Profile .overview .overview-ctn{
    width: 128px;
    height: 56px;
    min-width: 128px;
    height: 56px;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-inline: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.Profile .overview .overview-stats{
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.Profile .overview span{
    font-size: 12px;
    line-height: 150%;
}