.Discover{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border:0.1px solid transparent;
    background: url('../../assets/back/Discover/discoverbackback.png');
    background-size: cover;
}

.Discover .page-title{
    margin: 100px 0 0 30px;
    display: flex;
    gap: 6px;
    font-size: 20px;
    font-weight: 500;
}

.Discover form{
    width: 320px;
    height: 40px;
    margin: 28px auto calc(50px + 12px); /* Remove the calc plus 50 when you integrate(add) , the filter function refer to the 'filter-btn' css rule to properly understand*/
    position: relative;
}

.Discover form i{
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translateY(-50%);
}

.Discover form input{
    height: 100%;
    width: 80%;
    padding-inline: 15px;
    border: 0;
    background-color: transparent;
    color: var(--TEXTCOLORONE);
    outline: 0;
    position: relative;
    z-index: 20;
}

.Discover form input::placeholder{
    color: #ffffffab;
}

.Discover form .box{
    width: 80%;
    position: absolute;
    bottom: 0px;
    height: 100%;
    box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
    z-index: 10;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.Discover .filter-btn{
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: 2px;
    margin:0 0 35px 40px;
    cursor: pointer;
}

.Discover .quiz-ctn{
    width: 100%;
    height: 100%;
    background-color: var(--BACKGROUNDCOLORTHREE );
    background-image: url('../../assets/back/planets.png');
    border-radius: 48px 48px 0 0;
    padding-top: 50px;
    overflow-y: scroll;
}

.Discover .filter-ctn{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000088;
    backdrop-filter: blur(3px);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    transform: scale(0.8);
}

.Discover .filter-ctn.open{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.Discover .filter{
    width: 326px;
    height: 416px;
    background-color: var(--BACKGROUNDCOLORONE);
    border-radius: 20px;
    padding: 15px;
    position: relative;
}

.Discover .filter .close-btn{
    width: 24px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: #032643;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Discover .filter p{
    margin: 28px 18px 12px;
    font-size: 14px;
    font-weight: 500;
}

.Discover .filter .line{
    width: 258px;
    height: 1px;
    background-color: #033c68;
    margin: 0 18px 12px;
}

.Discover .filter .filter-cat,
.Discover .filter .filter-diff
{
    display: flex;
    width: 258px;
    height: fit-content;
    margin: 0 auto 40px;
    gap: 20px;

}

.Discover .filter .filter-cat .cat-ctn,
.Discover .filter .filter-diff .diff-ctn
{
    width: fit-content;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-inline: 3px 6px;
    gap: 3px;
    transform: scale(1.2);
} 

.Discover .filter .filter-cat .cat-indicator,
.Discover .filter .filter-diff .diff-indicator
{
    width: 13px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #fff;
    max-width: 13px;
    max-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Discover .filter .filter-cat span,
.Discover .filter .filter-diff span{
    font-size: 8px;
}

.Discover .filter button.result-btn{
    background-color: #2872FA;
    border: none;
    font-size: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
    padding: 7px 14px;
    left: 33px;
    position: absolute;
    bottom: 20px;

}

.Discover .no-quiz-error{
    color: black;
    font-style: italic;
    opacity: 0.7;
    text-indent: 50px;
    font-size: 12px;
}



